USE [SIS]
GO

-- CREATE ROLE TABLE
CREATE TABLE dbo.Role (
    role_id INT PRIMARY KEY,
    role_name VARCHAR(50) NOT NULL UNIQUE
);
GO

-- Seed roles
INSERT INTO dbo.Role (role_id, role_name) VALUES
(1, 'Admin'),
(2, 'Teacher'),
(3, 'Student');
GO

-- CREATE USER_LOGIN TABLE
CREATE TABLE dbo.User_Login (
    user_id INT IDENTITY(1,1) PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    password_hash NVARCHAR(255) NOT NULL,
    role_id INT NOT NULL,
    created_at DATETIME DEFAULT GETDATE(),
    CONSTRAINT FK_User_Login_Role FOREIGN KEY(role_id) REFERENCES dbo.Role(role_id)
);
GO

-- CREATE ADMIN TABLE
CREATE TABLE dbo.Admin (
    admin_id INT IDENTITY(1,1) PRIMARY KEY,
    user_id INT NOT NULL UNIQUE,
    role_id INT NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    full_name VARCHAR(100) NOT NULL,
    created_at DATETIME DEFAULT GETDATE(),
    CONSTRAINT FK_Admin_User FOREIGN KEY(user_id) REFERENCES dbo.User_Login(user_id),
    CONSTRAINT FK_Admin_Role FOREIGN KEY(role_id) REFERENCES dbo.Role(role_id)
);
GO

-- CREATE TEACHER TABLE
CREATE TABLE dbo.Teacher (
    teacher_id INT IDENTITY(1,1) PRIMARY KEY,
    user_id INT NOT NULL UNIQUE,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    date_of_birth DATE NULL,
    gender VARCHAR(10) CHECK (gender IN ('Male','Female','Other')) NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    phone VARCHAR(20) NULL,
    hire_date DATE DEFAULT GETDATE(),
    department VARCHAR(100) NULL,
    specialization VARCHAR(100) NULL,
    status VARCHAR(20) DEFAULT 'Active',
    CONSTRAINT FK_Teacher_User FOREIGN KEY(user_id) REFERENCES dbo.User_Login(user_id)
);
GO

-- CREATE STUDENT TABLE
CREATE TABLE dbo.Student (
    student_id INT IDENTITY(1,1) PRIMARY KEY,
    user_id INT NOT NULL UNIQUE,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    date_of_birth DATE NOT NULL,
    gender VARCHAR(10) CHECK (gender IN ('Male','Female','Other')) NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    phone VARCHAR(20) NULL,
    address VARCHAR(255) NULL,
    enrollment_date DATE DEFAULT GETDATE(),
    status VARCHAR(20) DEFAULT 'Active',
    CONSTRAINT FK_Student_User FOREIGN KEY(user_id) REFERENCES dbo.User_Login(user_id)
);
GO

-- CREATE COURSE TABLE
CREATE TABLE dbo.Course (
    course_id INT IDENTITY(1,1) PRIMARY KEY,
    course_name VARCHAR(100) NOT NULL,
    course_code VARCHAR(20) NOT NULL UNIQUE,
    description TEXT NULL,
    credits INT CHECK (credits >= 0) NULL,
    teacher_id INT NULL,
    CONSTRAINT FK_Course_Teacher FOREIGN KEY(teacher_id) REFERENCES dbo.Teacher(teacher_id)
);
GO

-- CREATE GRADE TABLE
CREATE TABLE dbo.Grade (
    grade_id INT IDENTITY(1,1) PRIMARY KEY,
    student_id INT NOT NULL,
    course_id INT NOT NULL,
    grade DECIMAL(5,2) CHECK (grade >=0 AND grade <=100) NULL,
    semester VARCHAR(20) NOT NULL,
    grade_date DATE DEFAULT GETDATE(),
    CONSTRAINT FK_Grade_Student FOREIGN KEY(student_id) REFERENCES dbo.Student(student_id),
    CONSTRAINT FK_Grade_Course FOREIGN KEY(course_id) REFERENCES dbo.Course(course_id)
);
GO


USE SIS;
select * from Student;
select * from Teacher;
select * from Course;
select * from User_Login;
select * from Admin;

-- 1. Drop the default constraint first
ALTER TABLE dbo.User_Login
DROP CONSTRAINT DF__User_Logi__faile__172433A8;

-- 2. Then drop the column
ALTER TABLE dbo.User_Login
DROP COLUMN failed_attempts;

-- 3. Drop the other column (if exists)
ALTER TABLE dbo.User_Login
DROP COLUMN lock_until;


ALTER TABLE dbo.User_Login
ADD failed_attempts INT NOT NULL DEFAULT 0,
    lock_until DATETIME NULL;


